
/*====================================================================
*---------------------------------------------------------------------
*
* MAIN STYLESHEET
* Vidi Dashboard
*
*---------------------------------------------------------------------
====================================================================*/

// External libraries

@import "libs/flexboxgrid.css"
@import "libs/normalize.css"
@import "libs/chartist.css"

// Variables

@import "globals/variables"

// Components

@import "components/base"
@import "components/layout"
@import "components/logos"
@import "components/icons"
@import "components/buttons"
@import "components/forms"
@import "components/type"
@import "components/lists"
@import "components/margins"
@import "components/header"
@import "components/sidebar"
@import "components/alert"
@import "components/panels"
@import "components/labels"
@import "components/navigation"

// Pages

@import "pages/page-login"
@import "pages/page-processes"