/* ---- General ---- */

html {
  font-size: 12px;
}

img {
  padding: .5rem;
  width: 3rem;
  height: 3rem;
}

i::before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  line-height: 4rem;
  color: white;
}

body {
  font-family: 'Roboto';
  letter-spacing: .1rem;
  margin: 0;
  padding: 0;
}

/* ---- Pages ---- */

/* - Presenter - */

.presenter {
  bottom: 4rem;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 4.5rem;
}

/* - Sidebar - */

.sidebar {
  bottom: 4rem;
  left: 0;
  overflow: auto;
  width: 25rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-root {
  margin: 0;
  padding: 0;
  margin-left: 1.5rem;
  margin-top: .5rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.sidebar-root > li {
  min-height: 3rem;
  line-height: 3rem;
}

.sidebar-level-1 {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar-level-1 > li {
  min-height: 3rem;
  line-height: 3rem;
}

.sidebar-docked {
  bottom: 4rem;
  left: 0;
  overflow: auto;
  width: 4.5rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-docked .box-header-titlebar {
  display: none;
}
.sidebar-docked .sidebar-root {
  display: none;
}

/* - Dashboard - */

.dashboard {
  bottom: 4rem;
  left: 25.5rem;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard-expanded {
  bottom: 4rem;
  left: 4.5rem;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.report {
  margin-right: 1rem;
}

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 20rem;
}

.row .box-header-icon {
  background-color: white;
  color: #2980B9;
  height: 4rem;
  width: 4rem;
  float: left;
  margin: 0;
  padding: 0;
}

.row .box-header-titlebar {
  background-color: white;
  color: #2C3E50;
  height: 4rem;
  margin: 0;
  font-weight: 400;
  padding: 0;
  margin-left: 4rem;
}

.row i::before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  line-height: 4rem;
  color: #2980B9;
}

.row .box-header-titlebar span {
  height: 4rem;
  color: black;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

/* - User - */

.user {
  bottom: 4rem;
  left: 4.5rem;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 4.5rem;
}

/* - Login - */

.login {
  bottom: 4rem;
  left: 4.5rem;
  overflow: auto;
  position: absolute;
  padding: 2rem;
  right: 0;
  top: 4rem;
}

.logout {
  bottom: 4rem;
  left: 4.5rem;
  overflow: auto;
  position: absolute;
  padding: 2rem;
  right: 0;
  top: 4rem;
}

/* ---- WIDGETS ---- */

/* - Header - */

.header {
  position: absolute;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
}

/* - Footer - */

.footer {
  position: absolute;
  height: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}

/* - BoxHeader - */

.box-header-icon {
  background-color: #2980B9;
  height: 4rem;
  width: 4rem;
  float: left;
  margin: 0;
  padding: 0;
}

.box-header-titlebar {
  background-color: #2C3E50;
  height: 4rem;
  margin: 0;
  padding: 0;
  margin-left: 4.5rem;
}

.box-header-titlebar span {
  height: 4rem;
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 4rem;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.box-header-toolbox {
  background-color: #2980B9;
  color: white;
  height: 4rem;
  padding: 0;
  float: right;
}

.box-header-toolbox::before {
  content: '';
  float: left;
  width: .5rem;
  height: 4rem;
  background-color: white;
}

/* - LoginForm - */

.login-form {
  font-size: 1.8rem;
  width: 40rem;
  margin: 0 auto;
  margin-top: 20rem;
  border: 0;
}

.login-form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: .5rem;
}

.login-form input {
  font-size: 2rem;
  width: 39.1rem;
  margin: 0;
  padding: .25rem;
  margin-bottom: .5rem;
}

.login-form button {
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  background-color: #2980B9;
  color: white;
  float: right;
  padding: 0;
  border: 0;
}

.login-form button a {
  background-color: #2980B9;
  text-decoration: none;
  color: white;
}

.login-form button a:hover {
  background-color: #2980B9;
  text-decoration: none;
  color: white;
}

.foo {
  height: 5rem;
}

.foo h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.foo h2:first-of-type {
  margin-top: 1rem;
}

.foo h3 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both; }


.container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box; }
.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%; }
    .column,
    .columns {
        margin-left: 4%; height: 20rem;}
    .column:first-child,
    .columns:first-child {
        margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

}

/* - ProfileToolbox - */

.profile-toolbox {
  width: 18rem;
  margin: 0 auto;
}

.profile-toolbox ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
}

.profile-toolbox li {
  line-height: 4rem;
  display: inline;
}

.profile-toolbox a {
  color: white;
  text-decoration: none;
}

.profile-toolbox a:visited {
  color: white;
  text-decoration: none;
}

.profile-toolbox i::before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2rem;
  margin-right: 2rem;
  line-height: 4rem;
  color: white;
}

.tabular-chart table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.tabular-chart {
  background: #fff;
  overflow: hidden;
}

.tabular-chart table td,
.tabular-chart table th {
  padding: .5rem 1rem;
}

.tabular-chart table thead th {
  background-color:#FFFFFF;
  color:#000000;
  font-size: 1.2rem;
  font-weight: bold;
}

.tabular-chart table thead th:first-child {
  border: none;
}

.tabular-chart table tbody td {
  color: black;
  font-size: 1.4rem;
  border-bottom: 1px solid #D1D1D1;
  font-weight: normal;
}

.tabular-chart table tbody td:first-child { border-left: none; }

.tabular-chart table tbody tr:last-child td { border-bottom: none; }

/* ---- Fonts ---- */

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-300/Roboto-300.eot');
  src: url('../fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('../fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('../fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('../fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('../fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Roboto-500/Roboto-500.eot');
  src: url('../fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('../fonts/Roboto-500/Roboto-500.woff') format('woff'),
       url('../fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('../fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}
