/*--------------------------------------------------------------------
*
* ALERTS
*
--------------------------------------------------------------------*/

.alert
  margin-top: $ui-spacing
  padding: $ui-spacing-half $ui-spacing
  border-radius: $ui-radius

.alert-has-icon
  p
    display: inline-block

// Informational alert

.alert-info
  color: $blue
  background-color: $blue-lighter