/*--------------------------------------------------------------------
*
* FORMS
*
--------------------------------------------------------------------*/

// Inputs
input
  border: $ui-border
  border-radius: $ui-radius
  margin-right: $ui-spacing-third
  padding: $ui-spacing-third
  transition: all .3s ease-in
  
  &:focus
    border: 1px solid $blue-light
    box-shadow: 0 0 5px $blue-light
    outline: none

.input-large
  padding: $ui-spacing-half $ui-spacing-third
  
// Form panel
.form-panel
  padding: $ui-spacing
  border: $ui-border
  border-radius: $ui-radius
  
// Full width form
.form-full-width

  input, .btn
    width: 100%
    margin-bottom: $ui-spacing-third

@media screen and (max-width: 30em)

  input[type=search]
    box-sizing: border-box
    width: 100%
    margin-bottom: $ui-spacing-third

@media screen and (min-width: 31em) and (max-width: 48em)

  input[type=search]
    min-width: 180px

@media screen and (min-width: 49em)
  input[type=search]
    min-width: 350px

@media screen and (min-width: 75em)
  input[type=search]
    min-width: 450px
