/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header
  padding: $ui-spacing-half 0
  color: white
  background-color: $blue-dark