/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header
  height: 69px
  background-color: $blue-dark
  
  .container-fluid,
  .row
    height: 100%

  h2, a
    color: white
    
@media screen and (max-width: 48em)

  h2
    font-size: $font-h2