/*--------------------------------------------------------------------
*
* LABELS
*
--------------------------------------------------------------------*/

.label-dimmed
  color: $gray-light
  
.label-stopped
  color: $red

.label-running
  color: $green