/*--------------------------------------------------------------------
*
* LABELS
*
--------------------------------------------------------------------*/

.label-dimmed
  color: $gray-light
  
.label-exceeded
  color: $red

.label-met
  color: $green