/*--------------------------------------------------------------------
*
* LAYOUT
*
--------------------------------------------------------------------*/

// Sticky footer
.shell
  display: flex
  min-height: 100vh
  flex-direction: column

.page
  flex: 1
  
  h2
    margin-top: $ui-spacing-half
    margin-left: $ui-spacing-double
  
// Center children vertically
.vertical-center
  display: flex
  align-items: center
  justify-content: center

// Floats
.fl-left
  float: left

.fl-right
  float: right