/*--------------------------------------------------------------------
*
* LAYOUT
*
--------------------------------------------------------------------*/

// Sticky footer
.shell
  display: flex
  min-height: 100vh
  flex-direction: column

.page
  flex: 1

// Floats
.fl-left
  float: left

.fl-right
  float: right