/*--------------------------------------------------------------------
*
* LOGOS
*
--------------------------------------------------------------------*/

.logo
  display: inline-block
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer
  transition: opacity .5s ease-in

  &:hover
    opacity: .6

.logo-vidi
  height: 30px
  padding-left: $ui-spacing + $ui-spacing-third
  background-image: url("../img/logo-vidi.svg")
  
.nav-main-wrapper + .col-xs-12 .logo-vidi
  margin-left: $ui-spacing-double