/*--------------------------------------------------------------------
*
* LOGOS
*
--------------------------------------------------------------------*/

.logo
  display: inline-block
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer
  transition: opacity .5s ease-in

  &:hover
    opacity: .6

.logo-vidi
  height: 30px
  width: 30px
  background-image: url("../img/logo-vidi.svg")
