/*--------------------------------------------------------------------
*
* PANEL
*
--------------------------------------------------------------------*/

.panel
  border: $ui-border
  border-radius: $ui-radius
  
  &:not(:only-child)
    margin-top: $ui-spacing
    
.panel-heading
  border-bottom: $ui-border
  
.panel-heading,
.panel-body
  padding: $ui-spacing-half