/*--------------------------------------------------------------------
*
* PANEL
*
--------------------------------------------------------------------*/

.panel
  border: $ui-border

  &:not(:only-child)
    margin-bottom: $ui-spacing

.panel-heading
  border-bottom: $ui-border

.panel-heading,
.panel-body
  padding: $ui-spacing-half

.panel-footer
  margin-top: $ui-spacing
