
/*--------------------------------------------------------------------
*
* TABLES
*
--------------------------------------------------------------------*/

table
  width: 100%
  overflow-x: scroll

th
  text-align: left
  background-color: lighten($gray-lighter, 70%)

td, th
  padding: $ui-spacing-third
  border-bottom: $ui-border
