/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

// Whitespace

$ui-spacing          = 30px
$ui-spacing-third    = $ui-spacing/3 // 10px
$ui-spacing-half     = $ui-spacing/2 // 15px
$ui-spacing-double   = $ui-spacing*2 // 60px

// Font family

$font-roboto         = "Roboto", Helvetica, Arial, sans-serif

// Font size

$font-base           = 1rem // 16px
$font-small          = 0.875rem // 14px

// Heading size

$font-h1             = 2rem // 32px
$font-h2             = 1.5rem // 24px
$font-h3             = 1.125rem // 18px

// Font weight

$font-weight-regular = 400
$font-weight-bold    = 700

// Line height

$line-height-base    = 1.5

// Border

$ui-border           = 1px solid $gray-lighter

// Border radius

$ui-radius           = 3px

// Colors

$gray                = #333
$gray-light          = #888
$gray-lighter        = #ddd

$blue-darker         = #202E3C
$blue-dark           = #2C3E50
$blue                = #1C8DC6
$blue-light          = #66cafc
$blue-lighter        = #c8edff