/*--------------------------------------------------------------------
*
* PAGE - LOGIN
*
--------------------------------------------------------------------*/

@media screen and (min-width: 48em)

  .page-login

    .container-fluid
      height: 75vh
      
    .row
      height: 100%
    
@media screen and (max-width: 48em)

  .page-login
  
    .login-form
      margin-top: $ui-spacing
    
    .btn-secondary
      margin-bottom: $ui-spacing-third